[Unit]
Description=PsyDB API Service
Wants=mongodb.service
After=mongodb.service
After=network.target

[Service]
User=psydb
Type=forking
PIDFile=/run/psydb/psydb-api.pid
ExecStart=/srv/psydb-deployment/psydb-api.sh
ExecStartPre=mkdir /run/psydb
ExecStartPre=chown psydb /run/psydb
Restart=always

[Install]
WantedBy=multi-user.target
