.flex-core {
    align-items: stretch;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
}

.flex-grow {
    flex-grow: 1;
}

.enable-flexbox {
    flex: 1;
}

.btn {
    border-radius: 0;
}

/* removes wierd bootstrap outlines */
*:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #779799!important;
}

.btn-primary {
    background-color: #006066!important;
    border-color: #006066!important;
}

.btn-primary:hover {
    background-color: #007077!important;
    border-color: #007077!important;
}

.btn-outline-primary {
    background-color: white!important;
    color: #006066!important;
    border-color: #006066!important;
}

.btn-outline-primary:hover {
    color: white!important;
    background-color: #006066!important;
}

.btn-primary:disabled, .btn-primary.disabled {
    background-color: #227277!important;
    border-color: #227277!important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #006066;
    border-color: #006066;
}

.text-primary {
    color: #006066;
}


/* FIXME: this is so wierd*/
.team-modal-backdrop {
    z-index: 1010;
}
.team-modal {
    z-index: 1011;
}
